header{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#text{
    
}
.main{
    /* background-image: url("./assets/Frame\ 1.png "); */
    padding-bottom: 9rem;
    
}
#mainheading{
    font-size:xx-large;
    font-weight: 800;
    font-style: bold;
    padding-left: 10%;
    padding-top: 5%;

}
  h5{
    padding-left: 10%;
    /* height: 7rem;  */
    

  }
  #button{
    border-radius: 62px;
    background-color: black;
    gap: 12px;
    width: 210px;
    height: 52px;
    margin-left: 10%;

   color: white;
   }
  
   
h2{
  font-size: medium;
  font-weight: 500;
  font-style: bold;
  
}
.details{
   padding-bottom: 3rem; 
}
ul.brand{
  display: flex;
  padding: 3rem;
  background-color: black;


  
 }
 ul.brand li{
 margin-inline: 5rem;

 }
 .main-container{
  margin-left: 3rem;
  margin-right: 3rem;
 }
.arrivals{
  font-size: x-large;
}
 footer{
  background-color: black;
  padding: 10rem;
  border: 2rem;
  border-radius: 3rem;
  margin-top: 2rem;
 }
 .footer-heading{
  color: white;
  font-size: xx-large;
  font-weight: 800;
 
 }
 #texts{
  background-color: white;
 }
 .footer-button{
  background-color: white;
 }